/*  your css code here. If applicable */
.box{
	width: 700px;
	height:40px;
	border:gray;
	padding: 1px;
	border-style: solid;
	padding: 10px 10px;
	margin:10px;
}
.para{
	font-style:italic;
	text-align:right;
}